h1 {color:turquoise; }
* {font-family: Arial, Helvetica, sans-serif;}

p {font-size: 15px;}

.back1 {
  background-color:lightgray
}
.back2 {
  background-color:white
}
.back3 {
  background-color:lightgray
}
.mformat {
  background-color: rgb(93, 161, 93); 
  padding-right: 4px;
  padding-left: 4px;
}
.backnav {
  background-color: whitesmoke;
}
.img-thumbnail {
  width: "45%"
}
@media (max-width: 1200px) {
    h1 {
        color:turquoise; 
        font-size: 30px;
    }
  }
  
@media (max-width: 993px) {
  .back3 {
    background-color: white
  }
  .img-thumbnail {
  width: "25%"
}
  .backnav {
    background-color: rgb(93, 161, 93);
  }
}
